* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'sft-ritam-sans';
  src: url('font_login/SFT-Ritam-Sans-TRIAL-Medium.woff2') format('woff2');
  font-display: swap;
}

.header {
    background: linear-gradient(to right, #0044cc, #007bff);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}


body {
    font-family: 'sft-ritam-sans', Arial, sans-serif;
    text-align: center;
}

.login-container {
    background: linear-gradient(to bottom, #337dff, #003bb3);
    width: 370px;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 120px auto;
    font-family: 'sft-ritam-sans', Arial, sans-serif;
    color: white;
}

.top-words {
    font-size: 22px;
    font-weight: bold;
    font-family: 'sft-ritam-sans', Arial, sans-serif;
    color: #337dff;
position: absolute;
    top: 18%;
left: 50%;
transform: translateX(-50%);
text-align: center;
}

.bottom-words {
  font-size: 21px;
  font-weight: bold;
  font-family: 'sft-ritam-sans', Arial, sans-serif;
  color: #337dff;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-top: 10px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.help-link {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    color: #f0f0f0;
    text-decoration: underline;
}

.login-button {
    background: linear-gradient(to bottom, #ff4c68, #ff0033);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 15px;
    cursor: pointer;
    font-family: 'SFT-Ritam-Sans-TRIAL-Medium', 'sft-ritam-sans', Arial, sans-serif;
    font-weight: bolder;
    padding: 10px 24px;
    transition: 0.3s;
    box-shadow: 0px 6px 0px #cc0029;
    position: relative;
}

.login-button {
  background-color: #ff4d4d;
  color: white;
  box-shadow: 0px 6px 0px #cc0029;
  }

.login-button:active {
    box-shadow: 0px 2px 0px #cc0029;
    transform: translateY(4px);
}

.button-container {
    position: absolute;
    flex-direction: row;
    top: 71%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}


.member-button {
      background-color: #007bff;
      border: none;
      border-radius: 20px;
      color: white;
      font-size: 17px;
      margin-top: 15px;
      cursor: pointer;
      font-family: 'SFT-Ritam-Sans-TRIAL-Medium', 'sft-ritam-sans', Arial, sans-serif;
      font-weight: bolder;
      padding: 10px 24px;
      transition: 0.3s;
      box-shadow: 0px 6px 0px #007bff;
      position: relative;
  }

  .member-button {
      background-color: #0044cc;
      color: white;
      box-shadow: 0px 6px 0px #00329a;
  }

  .member-button:active {
      box-shadow: 0px 2px 0px #00329a;
      transform: translateY(4px);
  }


  footer {
      background: linear-gradient(to bottom, #0033a0, #000c66);
      color: white;
      padding: 20px;
      position: fixed;
      width: 100%;
      bottom: 0;
      text-align: center;
  }

  .links a {
      color: white;
      text-decoration: none;
      margin: 0 5px;
      font-size: 12px;
  }
  .links a:hover {
      text-decoration: underline;
  }

  p {
    font-size: 12px;
    font-family: 'SFT-Ritam-Sans-TRIAL-Medium', 'sft-ritam-sans', Arial;
  }

  .spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    top: 230px;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-family: 'sft-ritam-sans', Arial, sans-serif;
    color: #003bb3;
    font-size: 22px;
  }
